.top-block__logotype
{
    font-size: 26px;
    font-weight: 400;
    font-family: "Lora" serif;
    line-height: 1;
    color: #2e2e2e;
}

.top-block__item
{
    font-size: 12px;
    font-family: "Oxygen", sans-serif;
    line-height: 1.7;
    color: #2e2e2e;
    text-decoration: 0;
}

.top-block__title
{
    font-size: 50px;
    font-weight: 400;
    font-family: "Lora" serif;
    line-height: 1;
    color: #2e2e2e;
}

.top-block__text
{
    font-size: 17px;
    font-family: "Oxygen", sans-serief;
    line-height: 1.18;
    color: rgba(46, 46, 46, 0.63);
}

.article-text
{
    font-size: 24px;
    font-family: "Oxygen", sans-serif;
    line-height: 1.46;
    color: #101315;
}

.low-block
{
    background: url(../images/Конец-сайта-footer.jpg) #000000;
    background-repeat: no-repeat;
    background-size: cover;
}

.low-block__logotype_white
{
    font-size: 26px;
    font-weight: 400;
    font-family: "Lora", serif;
    line-height: 1;
    color: #ffffff;
}

.low-block__item_white
{
    font-size: 12px;
    font-family: "Oxygen", sans-serif;
    line-height: 1.7;
    color: #ffffff;
    text-decoration: 0;
}