.menu__logotype_color
{
    color: #2e2e2e;
}

.menu__item_color
{
    color: #2e2e2e;
    text-decoration: 0;
}

.content__title
{
    font: 400 50px/1 "Lora";
    color: #2e2e2e;
}

.content__text
{
    font: 17px/1.18 "Oxygen";
    color: rgba(46, 46, 46, 0.63);
}

.article-text
{
    font: 24px/1.46 "Oxygen";
    color: #101315;
}

.low-block
{
    background: #000000 center/cover no-repeat url(../images/Конец-сайта-footer.jpg);
}

.menu__logotype_with-background
{
    color: #ffffff;
}

.menu__item_with-background
{
    color: #ffffff;
    text-decoration: 0;
}